<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Família {{ nomeFamilia }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let crianca of integrantes" [routerLink]="['/crianca-detalhe', crianca.id]" button="true">
      <ion-label>
        <h2>{{ crianca.nome }}</h2>
        <p>{{ crianca.calcularIdadeFormatada() }}</p>
      </ion-label>
      <app-status-badge slot="end" [status]="statusDaCrianca(crianca.id)"></app-status-badge>
    </ion-item>
  </ion-list>
</ion-content>
