<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ crianca?.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of dosesExibicao">
      <ion-label>
        <h2>{{ item.vacina?.nome }}</h2>
        <p>{{ item.vacina?.protegeContra }}</p>
        <p *ngIf="item.dose.dataAplicacao">Aplicada em {{ item.dose.dataAplicacao | date:'dd/MM/yyyy' }}</p>
        <p *ngIf="!item.dose.dataAplicacao">Prevista para {{ item.dose.dataPrevista | date:'dd/MM/yyyy' }}</p>
      </ion-label>
      <app-status-badge slot="end" [status]="item.dose.getStatus()"></app-status-badge>
    </ion-item>
  </ion-list>
</ion-content>
