:root {
    
--ion-color-primary: #ABC270;
--ion-color-primary-rgb: 171,194,112;
--ion-color-primary-contrast: #473C33;
--ion-color-primary-contrast-rgb: 71,60,51;
--ion-color-primary-shade: #96ab62;
--ion-color-primary-tint: #b3c87d;

--ion-color-secondary: #FEC868;
--ion-color-secondary-rgb: 254,200,104;
--ion-color-secondary-contrast: #473C33;
--ion-color-secondary-contrast-rgb: 71,60,51;
--ion-color-secondary-shade: #e0b05c;
--ion-color-secondary-tint: #fecd77;

--ion-color-tertiary: #FDA769;
--ion-color-tertiary-rgb: 253,167,105;
--ion-color-tertiary-contrast: #473C33;
--ion-color-tertiary-contrast-rgb: 71,60,51;
--ion-color-tertiary-shade: #df935c;
--ion-color-tertiary-tint: #fdb077;

--ion-color-dark: #473C33;
--ion-color-dark-rgb: 71,60,51;
--ion-color-dark-contrast: #ffffff;
--ion-color-dark-contrast-rgb: 255,255,255;
--ion-color-dark-shade: #3e352d;
--ion-color-dark-tint: #595048;
}