<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Minhas Crianças</ion-title>
    <ion-buttons slot="end">
    <ion-button routerLink="/campanhas">Campanhas</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let crianca of criancas" [routerLink]="['/crianca-detalhe', crianca.id]" button="true">
      <ion-label>
        <h2>{{ crianca.nome }}</h2>
        <p>{{ crianca.calcularIdadeFormatada() }}</p>
      </ion-label>
      <ion-badge slot="end" [color]="temPendencia(crianca.id) ? 'tertiary' : 'primary'">
        {{ temPendencia(crianca.id) ? 'Pendência' : 'Em dia' }}
      </ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
